@import url('https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css');

/* .homeSlider{
    width:96% !important;
    border:1px solid;
    display:flex;
    justify-content:center;
    margin-left:32px;
}
*/

.homeSlider{
    height:auto;
    max-width:96%;
    margin:auto;
    padding:30px 0px;
}

.home_slider_Main{
    position:relative;
    overflow:hidden;
    border-radius:25px;
}

.slick-arrow{
    position:absolute;
    top:47% !important;
    width:40px !important;
    height:40px !important;
    border-radius:50% !important;
    background:#F2F3F4 !important;
    z-index:1000 !important;
    transition: all 0.2s ease-in-out !important;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16) , 0 3px 6px rgba(0,0,0,0.23);
}

.slick-arrow:hover{
    background:#3bb77e !important;
}

.slick-arrow:hover::before{
    color:#fff !important;
}

.slick-next{
    right:30px !important;
}

.slick-prev{
    left:30px !important;
}

.slick-prev:before{
    /* content:'\f104' !important; */
    color:black !important;
}

.slick-next:before{
    /* content:'\f104' !important; */
    color:#000 !important;
}

.homeSlider .slick-dots{
    position:absolute;
    bottom:30px !important;
}

.homeSlider .slick-dots button::before{
    height:10px!important;
    width:10px !important;
    font-size:16px !important;
}

.slick-active button::before{
    color:#3bb77e !important;
}


.homeSlider .home_slider_Main .item{
    position:relative;
}

.homeSlider .home_slider_Main .item .info{
    position:absolute;
    z-index:100;
    top:15%;
    left:7%;
}

.homeSlider .home_slider_Main .item .info h2{
    font-size:55px !important;
    font-weight:bolder !important;
    color:rgba(0,0,0,0.7);
}

.homeSlider .home_slider_Main .item .info p{
    font-size:30px !important;
    font-weight:500 !important;
    color:#7E7E7E;
}


.homeSlider .newsletterBanner{
    width:430px;
    height:60px;
    position:absolute;
    bottom:92px;
    left:8%;
    z-index:10;
}

.homeSlider .newsletterBanner input{
    width:100%;
    height:100%;
    border-radius:30px;
    border:0px;
    outline:none !important;
    padding-left:55px;
    padding-right:100px;
    font-size:17px;
}

.homeSlider .newsletterBanner .send{
    position: absolute;
    left: 5%;
    font-size: 21px;
    opacity:0.7;
}

.homeSlider .newsletterBanner button{
    color: #fff;
    padding: 0px 31px;
    border-radius: 30px;
    position: absolute;
    height: 60px;
    left: 83%;
    font-size: 16px;
    text-transform: capitalize;
}