body{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

#root{
  zoom:100%;
}

.container-fluid{
  padding:0px 45px;
}

.cursor{
  cursor:pointer;
}

.bg-g , .bg-success{
  background:#3bb77e;
}

.text-g{
  color:#3bb77e;
}